.add-item1 {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
}

.add-item-header1 {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.add-item-header-text {
  margin: 0;
}

.add-item-body {
  padding: 20px 0;
}

.add-item-form {
  display: flex;
  flex-direction: column;
}

.add-item-form-item {
  margin-bottom: 15px;
}

.add-item-form-label {
  font-weight: bold;
}

.add-item-form-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.add-item-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-item-btn:hover {
  background-color: #45a049;
}
