.admin-dashboard {
    display: flex;
    flex-direction: row;
}
.admin-dashboard-body{
    display: flex;
    flex-direction: column;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.admin-dashboard-body {
    display: flex;
    width: 85vw;
}

.side-bar {
    width: 200px;
    height: 100%;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.dashboard {
    flex-grow: 1;
    padding: 20px;
}
