.menu-header{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    font-size: 30px;
    height: 75px;
}
.menu-header-txt {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.menu-body{
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
    padding: 0 10px;
    width: (100%-5vw);
}

table {
    margin: 0 10px ;
    min-width: 70vw;
  width: 100%;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  color: #444;
}
th{
    font-size: 20px;
    font-weight: bold;
}
th, td {
  border: 1px solid #ddd;
  padding: 10px;
  justify-content: center;
    text-align: center;
}

th {
  background-color: #f3f3f3;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.add-item{
  height: 50px;
  position: relative;
  left: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  width: (100%-5vw);
  border-radius: 10px;
  background-color: #f3f3f3;

}
.add-item:hover{
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  transform: scale(1.05);
}
.add-item-txt{
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
  width: (100%-5vw);
  border-radius: 10px;
}

.dis-column{
  max-width: 20vw;
}