.nav-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    height: 50px;
    width: 84vw;
}

.nav-bar-bracket{
    margin-right: 5vw;
    display: flex;
    justify-content: flex-end;
}
.nav-bar-logo-section{
    display: flex;
    justify-content: flex-start;
    margin-right: 40vw;
}

.nav-bar-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: #495057;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-bar-btn:hover {
    background-color: #f8f9fa;
}

.nav-bar-btn-txt {
    margin: 0;
    font-size: 14px;
}
